body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0px;
}

.logo {
  max-width: 10%;
}

.cabecalho {
  display: flex;

  text-transform: uppercase;

  place-items: center;

  margin-top: 20px;
  margin-left: 10%;

  flex: 1;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin-left: 18%;

  flex: 1;
}

.navbar,
a {
  text-decoration: none;
  color: black;
}

.navbusca {
  margin-left: 100px;

  width: 400px;
  height: 30px;

  border: 2px solid black;
  border-radius: 100px;

  text-align: center;
  font-size: 15px;

  background: url(img/download-removebg-preview\ 1.png) no-repeat 0.1rem;
}

.section {
  background-color: #121214;
  background-image: url(./assets/bg.svg);
  background-position-y: 55.6%;
  background-position-x: center;
  display: grid;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-top: 50px;
  margin-left: 10%;

  gap: 40px;
}

.cards {
  border-radius: 30px;
  max-width: 80%;
}

.mini {
  display: flex;
  flex: 1;

  margin-top: 50px;
  margin-left: 150px;
}

.mini-cards {
  max-width: 50%;
}

.texto {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;

  margin-right: 150px;

  color: #c5b453;

  font-size: 20px;
}

.rodape {
  margin-bottom: 50px;

  text-transform: uppercase;
}

.inforodape {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;

  flex: 1;
}

.socialrodape {
  display: flex;

  margin-top: 100px;

  justify-content: space-around;

  flex: 1;
}

.logorodape {
  max-width: 12%;
}

.imagens {
  display: flex;
  justify-content: center;
  gap: 300px;

  margin-bottom: 30px;
  margin-right: 200px;
  margin-left: 200px;

  background: url(/assets/bg.svg);
  background-color: #121214;
  background-position-y: 55.6%;
  background-position-x: center;

  border-radius: 10px;

  flex: 1;
}

.social {
  margin-right: 20px;
}

.face {
  height: 36px;
}
